html, body {
  padding: 0;
  margin: 0;
  font-family: Verdana, sans-serif;
}

#navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background: white;
  z-index: 10;
  box-shadow: 0 -10px 50px #33333315;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 1px solid #33333325;
}

.nav-link {
  padding: 1rem;
  text-decoration: none;
}

#main {
  margin-top: 4rem;
}

#welcome-section {
  text-align: center;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  padding: 2rem 1rem 3rem 1rem;
}

section h1 {
  text-align: center;
}

#main section {
  border-bottom: 1px solid #33333320;
}

#project-tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project-tile {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.project-tile 
  img {
    width: 100%;
    margin-bottom: .5rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: center;
}

.profile-link {
  margin-right: 1rem;
}

@media (min-width: 768px) {
  #navbar {
    justify-content:end;
  }
}
