@media (min-width: 768px) {
  html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-size: large;
  }
  #navbar {
    min-width: 33%;
    height:100%;
    position: fixed;
    border-right: 1px solid #3d3d3d20;
    overflow-y: scroll;
  }
  #main-doc {
    position: absolute;
    margin-left: calc(33% + 3rem);
  }
  .main-section {
    width: 32rem;
  }
}

#navbar, #main-doc {
  padding: 1rem;
}

#navbar {
  display:flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#navbar
  ul {
    padding-right: 1rem;
    list-style: none;
    padding-left: 0;
  }

#navbar 
ul>li {
    padding: 0 1rem;
    display: block;
    border-bottom: 1px solid #3d3d3d70;
}

#navbar 
  .nav-link {
    display: block;
    padding: 1rem 0;
    text-decoration: none;
  }

.main-section {
  margin-bottom: 2rem;
}

.main-section header {
  padding-top: 1rem;
  margin-top: 2rem;
}
.main-section:nth-child(1) header {
  padding-top: 1rem;
  margin-top: -1rem;
}
code {
  background: #3d3d3d15;
  padding: 1rem 0.8rem;
  margin: 1rem 0;
  display: block;
  border-radius: 4px;
}

p code {
  display: inline-block;
  margin: 0;
  padding: .5rem;
  background: none;
}
